.container{
    display: grid;
    grid-template-columns: repeat(9,210px);
}

.item1{
    background-color:#efefef;
    width: 200px;
    height: 120px;
}
.sub{
    background-color: rgb(190, 190, 190);
    width: 96px;
    margin: 2px;
}
.sub2{
    background-color: rgb(190, 190, 190);
    
}
.sub3{
  
}

